.about {
padding: 94px 0;
}

.about-list {
display: flex;
 }

.about-list__about-item {
width: 270px;
 }

.about-list__about-item:not(:last-child) {
margin-right: 30px;
 }


.about-list__about-info {
line-height: 1.71;
color: var(--info-color);
}

.about-list__about-title {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: var(--title-color);
margin-bottom: 10px;
}

.about-list__about-icon {
display: inline-flex;
justify-content: center;
align-items: center;
background-color: #f5f4fa;
width: 270px;
height: 120px;
margin-bottom: 30px;
border-radius: 4px;
}