.about {
padding: 94px 0;
}

.about-list {
display: flex;
}

.&__about-item {
width: 270px;
}

.&__about-item:not(:last-child) {
margin-right: 30px;
 }
}

.about-list__about-info {
line-height: 1.71;
color: var(--info-color);
}