.contakts {
font-weight: 500;
font-size: 1.14;
line-height: 1.14;
color: var (--info-color); 
margin-right: auto;
margin-left: 50px;
}

&__contakts {
display: flex;
margin-left: auto;
 }
}


.link {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);
fill: var(--info-color);
}

&__contakts:hover,
&__contakts:focus {
fill: var(--accent-color);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
}