.logo {
  display: block;

&__span--accent {
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
color: #2196f3; 
}

&__span--primary {
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
color: #000000;
 }
}

.pege-header__logo {
text-decoration: none;
display: flex;
margin-right: 93px;
display: inline-block;
}




