.list__menu {
display: flex;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}

.menu__item:not(:last-child) {
margin-right: 50px;
 }
 
.menu__item__item {
padding: 32px 0;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--title-color);
}

.menu__link:hover, 
.menu__link:focus {
color: var(--accent-color);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.link__current::after {
position: absolute;
content:" ";
display: block;
width: 100%;
height: 4px;
background-color: var(--accent-color);
left: 0px;
bottom: -32px;
border-radius: 2px;

&__current {
color: var(--accent-color);
position: relative; 
 }
}
