.mobail-button {
background-color: transparent;
border: none;
padding: 16px;

 @media screen and (min-width: 768px) {
     display: block;
     display: none;
 }
}

.mobail-button__menu-icon {
width: 40px;
height: 40px;
margin-left: 150px;
cursor: pointer;

&:hover,
&:focus {
fill: #2196F3;     
}
}

.mobail-button__cross-icon {
position: absolute;
right: 15px;
top: 15px;
width: 18px;
height: 18px;
cursor: pointer;

&:hover,
&:focus {
fill: #2196F3;     
}
}

.mobail-button__menu-icon {
.con-menu {
    display: block;
}
.iicon-close {
    display: none;
}
}

.mobail-menu {
position: fixed;
background-color: white;
top: 0;
left: 100%;
width: 100%;
max-width: 480px;
// height: 100vh;
padding: 48px 0 40px;

&.is-open {
left: 0;
transition: top 5s;
}
}

.mob-menu .conteiner {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}

.mob-menu-list  {
flex-direction: column;
font-size: 40px;
padding: 40px;
}

.mob-menu-item {
margin-bottom: 20px;
}

.mob-menu-link {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.02em;
color: #212121;

&:hover,
&:focus {
color: #2196F3;     
}
}

.mobail-menu-contakts {
   padding: 40px;
    li { 
        margin-bottom: 32px;  
        a {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #212121;

&:hover,
&:focus {
color: #2196F3;     
}
        }
    }
}

.mob-menu-soc {
    display: flex;
    padding-top: 64px;
    padding: 40px;
    li {
        a {
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
margin-left: 10px;
color: #212121;


&:hover,
&:focus {
color: #2196F3;     
}
        }
    }
}

.mobail-menu-bottom {
  margin-top: 302px;
}