
.modal-form {
position: absolute;
display: flex;
flex-direction: column;
width: 448px;

&__modal-title {
font-size: 20px;
line-height: 1.15;
text-align: center;
margin-bottom: 12px;
color: var(--main-text-color);
}

&__form-text {
display: block;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
margin-bottom: 4px;
color:var(--info-color);
}

&__form-textmodal-textarea {
width: 100%;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding: 12px 16px;
resize: none;
outline-color: var(--accent-color); 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__textarea:hover {
color: var(--accent-color); 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__checkbox-custom {
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
margin-bottom: 30px;
cursor: pointer;
}

&__checkbox-text {
color: var(--info-color);
line-height: 1.71;
 }
}

.group-input {
position: relative;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover .modal-input {
outline-color: var(--accent-color); 
fill: var(--accent-color);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
}

.form-group:nth-child(-n+4) {
margin-bottom: 10px;
}

.link-text {
color: var(--accent-color);
text-decoration: underline;
cursor: pointer;
display: inline;
line-height: 1.71;
}

.modal-input {
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 42px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

.form-buttom {
display: inline-block;
width: 200px;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
padding-top: 10px;
padding-bottom: 10px;
margin-right: auto;
margin-left: auto;
background-color: var(--accent-color);
color: var(--waite-bg-color);
border-radius: 4px;
border: none;
box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
cursor: pointer;
}