.footer__link__icon {
display: inline-flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.1);
fill: var(--waite-bg-color);
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
fill: var(--accent-color);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
position: absolute;
top: 50%;
left: 12px;
transform: translateY(-50%);
}

.icon-custom {
display: inline-block;
width: 16px;
height: 15px;
border: 1px solid rgba(0, 0, 0, 0.8);
border-radius: 2px;
margin-right: 7px;
}

.modal-checkbox:checked + .icon-custom {
background-color: var(--accent-color);
border-color: var(--accent-color);
background-image: url(../images/icons/icon-check.svg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
background-origin: border-box;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
&:hover + & {
border-color: var(--accent-color);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
}