.section-team {
background-color: #f5f4fa;
@media screen and (min-width: 480px) {
padding-top: 30px;
padding-bottom: 30px; 
}
 @media screen and (min-width: 768px) {
   padding: 64px; 
  }
  @media screen and (min-width: 1200px) {
  padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section-team__team-title {
font-weight: bold;
text-align: center;
color: var(--title-color);
@media screen and (min-width: 480px) {
  font-size: 28px;
  line-height: 1.17;
  padding-top: 60px;
}
 @media screen and (min-width: 768px) {
font-size: 36px;
line-height: 1.16;
padding-top: 30px;
padding-bottom: 30px;
 }
}

.section-team__team-list {
@media screen and (min-width: 768px) {
display: flex;
flex-wrap: wrap;
margin-right: -30px;
margin-top: -30px;
  }
   @media screen and (min-width: 1200px) {
    display: flex; 
    margin-right: -30px;
   }
}

.section-team__team-item {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: var(--waite-bg-color);
@media screen and (min-width: 480px) {
margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  flex-basis: calc((100% - 3*30px)/2);
  margin-right: 30px;
  margin-top: 30px;;
 }
@media screen and (min-width: 1200px) {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
   }

.section-team__team-itemteam-box {
background: var(--waite-bg-color);
padding-top: 30px;
padding-bottom: 30px;
}
.section-team__team-collaborator {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
color: var(--title-color);
margin-bottom: 10px;
  }
 }

.section-team__team-profession {
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--info-color);
 }