.section-team {
background-color: #f5f4fa;
padding-top: 94px;
padding-bottom: 94px;
 }

.section-team__team-title {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--title-color);
margin-bottom: 50px;
}

.section-team__team-list {
display: flex;
}

.section-team__team-item {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: var(--waite-bg-color);
}

&__team-item:not(:last-child) {
margin-right: 30px;
}

.section-team__team-itemteam-box {
background: var(--waite-bg-color);
padding-top: 30px;
padding-bottom: 30px;
}

&__team-collaborator {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
color: var(--title-color);
margin-bottom: 10px;
}

&__team-profession {
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--info-color);
 }
}