.business__business-title {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--title-color);
margin-bottom: 50px;
}

.section-team__team-title {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--title-color);
margin-bottom: 50px;
}

.customers__customers-title {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-bottom: 50px;
color: var(--title-color);
}

.portfolio-info__portfolio-title {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}

.footer-title__section-title {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 20px;
color: var(--waite-bg-color);
}



