.main-hiro__main-title-hiro {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--waite-bg-color);
min-width: 696px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
}

.about-list__about-title {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
margin-bottom: 10px;
}

.business__business-title {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--title-color);
margin-bottom: 50px;
}

.section-team__team-title {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--title-color);
margin-bottom: 50px;
}

.customers__customers-title {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-bottom: 50px;
color: var(--title-color);
}

.portfolio-info__portfolio-title {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}

.footer-title__section-title {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 20px;
color: var(--waite-bg-color);
}



