.portfolio-info__portfolio-title {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}

.footer-title__section-title {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 20px;
color: var(--waite-bg-color);
}



