:root {
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --dark-bg-text-color: #2f303a;
  --title-color: #212121;
  --waite-bg-color: #ffffff;
  --info-color: #757575;
  --card-border-color: #eeeeee;
}