
.section-portfolio {
padding-top: 94px;
padding-bottom: 94px;
}

.portfolio-galery {
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -30px;

& > &__item {
flex-basis: calc(100% / 3 - 30px);
margin-left: 30px;
margin-top: 30px;
border: 1px solid var(--card-border-color);
 }
}

.portfolio__link {
  display: block;

&:hover,
&:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
 }
}

.portfolio-thumb {
position: relative;
overflow: hidden;
 }


.portfolio-info {
padding: 20px 24px;

&__our-services {
font-size: 16px;
line-height: 1.87;
color: var(--info-color);
 }
}
