.pege-header {
border-bottom: 1px solid #ececec;

&__main {
@media screen and (min-width: 480px) {
   height: 60px;   
}
 @media screen and (min-width: 1200px) {
display: flex;
align-items: center;    
 }
 }

&__navigation {
@media screen and (min-width: 1200px) {
 display: flex;
align-items: center;   
}
 }
}