.portfolio-overlay-text {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: translateY(100%);
transition-property: transform, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&__overlay-text {
font-size: 18px;
line-height: 1.56;
color: var(--waite-bg-color);
width: 320px;
}

.portfolio__link:hover &,
.portfolio__link:focus & {
transform: translateY(0);
background-color: var(--accent-color);
 }
}